*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    max-width: 460px;
    background-color: darkkhaki;
    border-radius: 8px;
    box-shadow: -5px 5px 20px 8px black;
    font-family: sans-serif;
    padding: 20px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 10px;
}
.icon{
    font-size: 45px;
    color: orangered;
}
h1{
    letter-spacing: 1.4px;
}
#celcius, #feren, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
input{
   flex: 5;
   height: 60px;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
   border: none;
   outline: none;
   border-radius: 8px 0 0 8px;
   padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.icon1{
    flex:1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #4d5965;
    color: white;
    border-radius: 0 8px 8px 0;
}
.button{
    margin: 25px;
    text-align: center;
}
.button button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.5s;
}
.button button:hover{
    background: #000;
    color: white;
}